<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huahai.mapper.HHSysMenuMapper">
    <select id="selectMenuListByRoleCode" resultType="cn.huahai.entity.HHSysMenu">
        SELECT m.* FROM hh_sys_menu m
                            INNER JOIN hh_sys_role_menu rm ON m.menu_id = rm.menu_id
                            INNER JOIN hh_sys_role r ON rm.role_id = r.role_id
        WHERE r.role_code = #{roleCode} AND m.status = 1
        ORDER BY m.sort ASC
    </select>
</mapper>